<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Confirm</title>
	<link rel="stylesheet" href="/css/search_result.css" />
	<link rel="stylesheet" href="css/HomePage.css" />
	<link rel="stylesheet" href="/css/settings.css" />
	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
  	<script src="/js/confirm.js"></script>
  	<script src="/js/HomePage.js"></script>
    <script src = "/js/facebook.js"></script>
</head>
<body>
	<nav id="nav_bar">
		<ul id="nav_bar_content">
			<li id="nav_bar_left">
				
			</li>
			<li id="nav_bar_middle">
				<strong>Confirmation</strong>
			</li>
			<li id="nav_bar_right">
				
			</li>
		</ul>
	</nav>

	<main>
		<h2 style="text-align: center">Are you sure to send out your information?</h2>
		<div style="text-align: center"> 
			<button id="next_button" class="click_button" onclick="donePage()">
				<strong>Yes</strong>
			</button>	
			 <div class="divider"></div>
			 <button id="back_button" class="click_button" onclick="backToSelectInfo()">
				<strong>No</strong>
			</button>
		</div>
	</main>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93226410-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>