<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Edit profile</title>
  <link rel="stylesheet" href="/css/edit_profile.css" />
  <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/js/EditProfile.js"></script>
</head>
<body>
  <nav id="nav_bar">
    <ul id="nav_bar_content">
      <li id="nav_bar_left">
        <button id="back_button" class="click_button" onclick="backToIndex()">
          <strong>Back</strong>
        </button>
      </li>
      <li id="nav_bar_middle">
        <strong>Edit profile</strong>
      </li>
      <li id="nav_bar_right">
      </li>
    </ul>
  </nav>
    <main>
        <ul id="input_thing">
            <form id="addFriendForm" role="form" method="post" action="/addInfo">
                <h3>Add new contact information</h3>
                    <div class="form-group">
                        <label for="name">Type of information</label>                    
                            <input type="text" class="form-control" id="type" placeholder="Example: Phone" name="type">
                    </div>
                    <div class="form-group">
                        <label for="usage">Usage</label>
                            <input type="text" class="form-control" id="usage" placeholder="Example: Home" name="usage">
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                            <input type="text" class="form-control" id="content" placeholder="Example: 123-456-789" name="content">
                    </div>
                <input type="submit" id="submitBtn" class="btn btn-default" value="">Add</input>
            </form>
            <div class = "newlist"></div>
        </ul>
    </main>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93141438-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>