<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Search results</title>
	<link rel="stylesheet" href="/css/search_result.css" />
	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>

	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/SearchResultAll.js"></script>
  	
</head>
<body>
	<nav id="nav_bar">
		<ul id="nav_bar_content">
			<li id="nav_bar_left">
				<button id="back_button" class="click_button" onclick="backToAddNewContactPage()">
					<strong>Back</strong>
				</button>
			</li>
			<li id="nav_bar_middle">
				<strong>Search result</strong>
			</li>
			<li id="nav_bar_right">
				<button id="next_button" class="click_button" onclick="selectInfoToSend()">
					<strong>Next</strong>
				</button>
			</li>
		</ul>
	</nav>
	<main>
		<h2>There is no result for <strong>{{searchContact}}</strong></h2>
		<h3>Please select the people you want to send your information to:</h3>
		<ul id="result_list">
			<div class="container">
				<div class="control-group">
					{{#each data.user}}
					<label class="control control--checkbox">
						<h5><img class="contact_img" hspace="10" src="{{imageURL}}">{{name}}</h5>
	  					<input id = "user" type="checkbox" name="user" value="">
	  					<div class="control__indicator"></div>
    				</label>
    				{{/each}}
        		</div>
        	</div>
            
		</ul>
	</main>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93226410-1', 'auto');
  ga('send', 'pageview');

</script>
	</body>
</html>