<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>Select contact info</title>
	<link rel="stylesheet" href="/css/search_result.css" />
	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
   	<script src="/js/Settings.js"></script>
  	<script src="/js/select-info.js"></script>
</head>
<body>
	<nav id="nav_bar">
		<ul id="nav_bar_content">
			<li id="nav_bar_left">
				<button id="back_button" class="click_button" onclick="backToAddNewContactPage()">
					<strong>Back</strong>
				</button>
			</li>
			<li id="nav_bar_middle">
				<strong>Select Information</strong>
			</li>
			<li id="nav_bar_right">
				<button id="next_button" class="click_button" onclick="confirmPage()">
					<strong>Next</strong>
				</button>
			</li>
		</ul>
	</nav>

	<main>
		<h3>Please select the information you want to send out:</h3>
		<ul id="contact_info_list">			
			<form>
  				<input id = "1" type="checkbox" name="way" value="phone"> Phone Number<br>
  				<input id = "2" type="checkbox" name="way" value="email"> Email Address<br>
  				<input id = "3" type="checkbox" name="way" value="facebook"> Facebook<br>
  				<input id = "4" type="checkbox" name="way" value="linkedin"> LinkedIn<br>
  				<input id = "5" type="checkbox" name="way" value="wechat"> WeChat<br>
  				<input id = "6" type="checkbox" name="way" value="instagram"> Instagram<br>
  				<!--<input type="submit" value="Submit"> -->
  				<br>
  				<!--<button class="click_button" onclick="importDefault()">OK</button>-->
			</form>
		</ul>
	</main>
</body>
</html>