body {
	padding: 0;
	margin:0;
	background-color:white;
	align-self:center;
}

ul {
	padding: 0;
	margin: 0;
}

ul.middleList{
	text-align:center;
	list-style-type:none;	
}
li {
	margin-bottom:10px;
}

#nav_bar{
	position: fixed;
	top:0;
	left:0;
	background-color: white;
	border-bottom: 1px solid grey;
	width: 100%;
	height: 50px;
	z-index: 1024;
}
#nav_bar_content{
	list-style: none;
	display: flex;
	padding: 10px;
	line-height: 30px;
}

#nav_bar_left{
	width: 25%;
	text-align:left;
}

#nav_bar_middle{
	width: 50%;
	text-align: center;
}
.click_button{
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid black;
	line-height: 24px;
	padding: 0 10px;
	outline:none;
	transition: all 0.2s;
	-webkit-user-select: none;
}

.click_button:active{
	background-color: rgba(150, 150, 150, 0.3);
}

main {
	margin-top: 51px;
	padding: 15px;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;
}
h2, h3, h4, h5 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  margin-top: 10px;
}
.control-group {
	display: inline-block;
  	vertical-align: top;
  	background: #fff;
  	text-align: left;
  	margin-left: 20px;
  	margin-top: 20px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}